<swiper
  indicator-dots="{{indicatorDots}}"
  autoplay="{{autoplay}}"
  class="fps"
  indicator-color="#dcdcdc"
  indicator-active-color="#F2055C"
>
  <block a:for="{{slide}}">
    <swiper-item class="fps__item">
      <view class="fps__item__view__image">
        <block a:if="{{item.topImageUrl}}">
          <image class="image-top" src="{{item.topImageUrl}}" mode="aspectFill">
        </block>
        <block a:if="{{item.bottomImageUrl}}">
           <image class="image-bottom" src="{{item.bottomImageUrl}}" mode="aspectFit">
        </block>
        <block a:if="{{item.imageUrl}}">
          <image class="image{{item.buttonText ? ' bottom-padding' : ''}}" src="{{item.imageUrl}}" mode="aspectFit">
        </block>
        <block a:if="{{item.buttonText}}">
          <button class="btn btn--primary-action" onTap="onClick">{{item.buttonText}}</button>
        </block>
      </viev>
    </swiper-item>
  </block>
</swiper>